@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto|Sanchez');
@import url('https://fonts.googleapis.com/css?family=Yrsa');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #fff;
    --hover-claro: #bababa ;
    --hover-escuro: #3d3d3d;
}
body,
html {    
    background-color: black;
    color: #fff
}

img {
    filter: grayscale(1);
}

.topo,
.rodape {
    background-color: black
}

.foot_li_title {
    color: white
}

.direito {
    color: var(--cor-secundaria);
}

.line {
    background-color: var(--cor-secundaria);
}

.titulo {
    color: var(--cor-secundaria);
}

a {
    color: inherit;
    color: var(--cor-secundaria);
}

a:hover {
    color: var(--hover-claro);
}

.btn-outline-primary {
    color: #5f4b8b;
}

.btn-outline-primary:hover {
    background-color: #5f4b8b;
    color: var(--cor-primaria);
}
/*Botão Vermelho*/
.btn.btn-danger {
    background-color: var(--cor-primaria);
    border-color: var(--cor-secundaria);
}

.btn.btn-danger:hover {
    background-color: var(--cor-secundaria);
    border-color: var(--cor-primaria);
    color: var(--cor-primaria);
} 

#filter-overlay.show {
    background-color: rgba(0, 0, 0, 0.75)
}

#sectionHistoria {
    background-color: var(--cor-primaria);
}

.pHistoria {
    color: white
}

#navbarSupportedContent>ul>li.nav-item.active,
#navbarSupportedContent>ul>li.nav-item.active>a {
    color: var(--hover-claro)
}

.titulo.mt-4 {
    border-bottom: 2px solid var(--cor-secundaria);
}
aside .titulo.text-center {
    border-bottom: 2px solid var(--cor-secundaria);
}

section .col-12.col-md-6.col-lg-4.border.border-danger.content_border {
    border-color: var(--cor-secundaria);
}

.thumb-holder p {
    background-color: rgba(0, 0, 0, 0.9);
}

.content_border {
    border-color: var( --cor-secundaria);
}

.hrDanca {
    background-color: #fff;
    height: 1.5px
}

.sectionDanca {
    background-color: var(--cor-primaria);
}

.internoDancaA {
    color: white
}

.internoDancaA:hover {
    color: #939393
}

.sec_um {
    background-color: white;
    color: black;
}

.clip.pt-5 {
    color : var(--cor-primaria);
}

.mangas .manga:hover {
    color: #ef3341
}

.mangas .manga:hover * {
    color: var(--cor-primaria);
}

.mangas .manga a {
    color: var( --cor-primaria);
}

.mangas .manga:hover * {
    color: var(--cor-primaria);
}

.mangas .manga .contentManga {
    background-color: #FFF;
    border: 1px solid var( --cor-primaria);
}

.relacionados .manga a {
    color: var( --cor-primaria);
}

.relacionados .manga:hover a {
    color: #5f4b8b
}

.formBusca .form-control,
.formBusca .input-group .input-group-prepend {
    background-color: #fff;
    color: #5f4b8b
}

.quem-somos .integrante {
    border-bottom: 1px solid var(--cor-secundaria);
}

.imgHome {
    border: #000 solid thick;
}

imgHome2 {
    border: #000 solid thick
}

.imgModelo:hover {
    border: #000 solid thick
}

.bcjapao {
    background-color: #905
}

.hrOrigami {
    background-color: var( --cor-secundaria);
}

@media screen and (max-width:991px) {    
    .topo #navbarSupportedContent {        
        background-color: white;      
    }
    
    .topo>.navbar button.navbar-toggler {
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
    }

    .topo>.navbar>button.navbar-toggler>.fas.fa-bars {
        color: var(--cor-primaria)
    }
    
    .navbar-nav .nav-link{
        color: var(--cor-primaria);
    }
}

@media screen and (min-width:991px) {
    header.topo.border-line-bottom {
        background: url("../midia/geral/topo_teste.png") no-repeat;
        position: relative;
        z-index: 9;
        filter: grayscale(1);

    }
}    

@media screen and (min-width:991px) {   
    .dropdown-menu {
        background-color: #fff
    }
    .dropdown-menu .dropdown-item {
        color: var(--cor-primaria);
    }
    .dropdown-menu .dropdown-item:hover {
        color: var(--cor-secundaria);
    }    
    #navbarSupportedContent>ul>li.nav-item.active {
        border-top: 2px solid var(--hover-escuro);
    }
    .dropdown-item.active, .dropdown-item:active {
        background-color: var( --hover-escuro);
    }
    .dropdown-item:hover {
        background-color: var(--hover-escuro);
    }
    
    .mangas .manga:hover .subtitulo,
    .mangas .manga:hover .texto {
        background-color: #FFF;
    }
    .mangas .containerCat .contentCat .clip {
        background-color: #FFF;
    }
    .mangas .containerCat .contentCat {
        background-color: var( --cor-primaria);
    }  
    .mangas .containerCat .img-cat2 {
        background-color: var( --cor-primaria);
    }  
    .mangas .containerCat .img-cat1 {
        background-color: var( --cor-primaria);
    }            
}
